<div class="page-header">
  <h3><%= @user.username %></h3>
</div>

<% @photos.each do |photo| %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= photo.caption %>
          <small>
            <%= time_ago_in_words(Time.now) %>
          </small>
        </h3>
      </div>

      <div class="panel-body">
        <img src="<%= photo.image %>" class="img-responsive" alt="Responsive image">

        <!-- ## form -->

        <p>
          <form action="/create_like" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" name="photo_id" value="<%= photo.id %>">
            <input type="hidden" name="user_id" value="<%= photo.user_id %>">
            <button class="btn btn-link">
              <i class="fa fa-heart-o"></i>
            </button>

          </form>
        </p>

        <ul class="media-list">

          <% @comments.each do |comment| %>
          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/<%= photo.user_id %>"><%= photo.user.username %></a>
              </h6>
              <%= comment.body %>
            </div>
          </li>
          <% end %>


          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <input name="authenticity_token" type="hidden" value="form_authenticity_token">
                <input type="hidden" name="photo_id" value="<%= photo.id %>">
                <input type="hidden" name="user_id" value="<%= photo.user_id %>">

                <div class="form-group">
                  <label for="body" class="sr-only">
                  </label>
                  <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required>
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
